[Unit]
Description=Run Portainer
Requires=podman.socket
After=podman.socket

[Container]
Image=portainer.image
ContainerName=portainer
Volume=portainer_data:/data
Volume=/run/podman/podman.sock:/var/run/docker.sock
PublishPort=8000:8000
PublishPort=9443:9443

[Service]
Restart=unless-stopped
TimeoutStartSec=900
TimeoutStopSec=70

[Install]
WantedBy=default.target
