services:
  plex:
    image: lscr.io/linuxserver/plex:1.42.2
    pull_policy: always
    restart: always
    network_mode: host
    env_file: .env
    environment:
      - VERSION=docker
    devices:
      - "/dev/dri:/dev/dri"
    volumes:
      - "${BASE_FOLDER:?error}/config/plex:/config"
      - "${BASE_FOLDER:?error}/media:/media"

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16
    pull_policy: always
    restart: always
    expose:
      - 8989
    env_file: .env
    volumes:
      - "${BASE_FOLDER:?error}/config/sonarr:/config"
      - "${BASE_FOLDER:?error}/media:/media"

  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4
    pull_policy: always
    restart: always
    expose:
      - 7878
    env_file: .env
    volumes:
      - "${BASE_FOLDER:?error}/config/radarr:/config"
      - "${BASE_FOLDER:?error}/media:/media"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:5.1.4
    pull_policy: always
    restart: always
    expose:
      - 8080
    ports:
      - 6881:6881
      - 6881:6881/udp
    env_file: .env
    environment:
      - TORRENTING_PORT=6881
    volumes:
      - "${BASE_FOLDER:?error}/config/qbittorrent:/config"
      - "${BASE_FOLDER:?error}/media:/media"

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0
    pull_policy: always
    restart: always
    expose:
      - 9696
    env_file: .env
    volumes:
      - "${BASE_FOLDER:?error}/config/prowlarr:/config"

  jackett:
    image: lscr.io/linuxserver/jackett:0.24.111
    pull_policy: always
    restart: always
    expose:
      - 9117
    env_file: .env
    volumes:
      - "${BASE_FOLDER:?error}/config/jackett:/config"

  heimdall:
    image: lscr.io/linuxserver/heimdall:2.7.6
    pull_policy: always
    restart: always
    expose:
      - 80
    environment:
      - PUID=1000
      - PGID=1000
    env_file: .env
    volumes:
      - "${BASE_FOLDER:?error}/config/heimdall:/config"

  caddy:
    image: docker.io/library/caddy:2.10.2-alpine
    pull_policy: always
    restart: always
    environment:
      BASE_DOMAIN: ${BASE_DOMAIN:?error}
      ACME_EAB_KEY_ID: ${ACME_EAB_KEY_ID:?error}
      ACME_EAB_MAC_KEY: ${ACME_EAB_MAC_KEY:?error}
    env_file:
      - .env
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./caddy:/etc/caddy:ro
      - "${BASE_FOLDER:?error}/config/caddy/data:/data"
      - "${BASE_FOLDER:?error}/config/caddy/config:/config"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.6
    pull_policy: always
    restart: always
    expose:
      - 8191
    env_file: .env

  profilarr:
    image: docker.io/santiagosayshey/profilarr:v1.1.3
    pull_policy: always
    restart: always
    expose:
      - 6868
    env_file: .env
    volumes:
      - "${BASE_FOLDER:?error}/config/profilarr/config:/config"
