[Unit]
Requires=paperless-broker.service paperless-gotenberg.service paperless-tika.service
After=paperless-broker.service paperless-gotenberg.service paperless-tika.service

[Container]
Environment=PAPERLESS_REDIS=redis://localhost:6379
Environment=PAPERLESS_TIKA_ENABLED=1
Environment=PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://localhost:3000
Environment=PAPERLESS_TIKA_ENDPOINT=http://localhost:9998
Environment=PAPERLESS_CONSUMER_DISABLE=1
Environment=PAPERLESS_TIME_ZONE=Europe/Madrid
Environment=PAPERLESS_OCR_LANGUAGE=spa
Environment=PAPERLESS_OCR_LANGUAGES=eng nld cat
Image=paperless-webserver.image
Pod=paperless.pod
Volume=paperless-data.volume:/usr/src/paperless/data
Volume=paperless-media.volume:/usr/src/paperless/media

[Service]
Restart=always
