[Unit]
Description=Run tsidp
Requires=podman.socket tailscaled.service
After=podman.socket tailscaled.service

[Container]
Image=tsidp.image
ContainerName=tsidp
Volume=tsidp_data:/data
Environment=TAILSCALE_USE_WIP_CODE=1
Environment=TS_STATE_DIR=/data
Environment=TS_HOSTNAME=idp
Environment=TSIDP_ENABLE_STS=1

[Service]
Restart=unless-stopped
TimeoutStartSec=900
TimeoutStopSec=70

[Install]
WantedBy=default.target
