{
	dns cloudflare {$CF_API_TOKEN}
	acme_dns cloudflare {$CF_API_TOKEN}
	email {$ACME_EMAIL}
}

{$BASE_DOMAIN} {
	reverse_proxy heimdall:80 {
		header_up Host localhost
		header_up Origin localhost
		header_up Referer localhost
	}
}

# Declare the wildcard domain so TLS uses it
*.{$BASE_DOMAIN} {
}

plex.{$BASE_DOMAIN} {
	reverse_proxy plex:32400 {
		header_up Host localhost
		header_up Origin localhost
		header_up Referer localhost
	}
}

sonarr.{$BASE_DOMAIN} {
	reverse_proxy sonarr:8989 {
		header_up Host localhost
		header_up Origin localhost
		header_up Referer localhost
	}
}

radarr.{$BASE_DOMAIN} {
	reverse_proxy radarr:7878 {
		header_up Host localhost
		header_up Origin localhost
		header_up Referer localhost
	}
}

deluge.{$BASE_DOMAIN} {
	reverse_proxy deluge:8112 {
		header_up Host localhost
		header_up Origin localhost
		header_up Referer localhost
	}
}

prowlarr.{$BASE_DOMAIN} {
	reverse_proxy prowlarr:9696 {
		header_up Host localhost
		header_up Origin localhost
		header_up Referer localhost
	}
}

bazarr.{$BASE_DOMAIN} {
	reverse_proxy bazarr:6767 {
		header_up Host localhost
		header_up Origin localhost
		header_up Referer localhost
	}
}

jackett.{$BASE_DOMAIN} {
	reverse_proxy jackett:9117 {
		header_up Host localhost
		header_up Origin localhost
		header_up Referer localhost
	}
}
