{
	acme_dns cloudflare {$CF_API_TOKEN}
}

{$BASE_DOMAIN} {
	reverse_proxy heimdall:80 {
		header_up Host localhost
		header_up Origin localhost
		header_up Referer localhost
	}
}

*.{$BASE_DOMAIN} {
	@login host login.{$BASE_DOMAIN}
	handle @login {
		reverse_proxy authelia:9091 {
			header_up Host localhost
			header_up Origin localhost
			header_up Referer localhost
		}
	}

	@plex host plex.{$BASE_DOMAIN}
	handle @plex {
		reverse_proxy plex:32400 {
			header_up Host localhost
			header_up Origin localhost
			header_up Referer localhost
		}
	}

	@sonarr host sonarr.{$BASE_DOMAIN}
	handle @sonarr {
		reverse_proxy sonarr:8989 {
			header_up Host localhost
			header_up Origin localhost
			header_up Referer localhost
		}
	}

	@radarr host radarr.{$BASE_DOMAIN}
	handle @radarr {
		reverse_proxy radarr:7878 {
			header_up Host localhost
			header_up Origin localhost
			header_up Referer localhost
		}
	}

	@deluge host deluge.{$BASE_DOMAIN}
	handle @deluge {
		reverse_proxy deluge:8112 {
			header_up Host localhost
			header_up Origin localhost
			header_up Referer localhost
		}
	}

	@prowlarr host prowlarr.{$BASE_DOMAIN}
	handle @prowlarr {
		reverse_proxy prowlarr:9696 {
			header_up Host localhost
			header_up Origin localhost
			header_up Referer localhost
		}
	}

	@threadfin host threadfin.{$BASE_DOMAIN}
	handle @threadfin {
		reverse_proxy threadfin:34400 {
			header_up Host localhost
			header_up Origin localhost
			header_up Referer localhost
		}
	}

	@stremio host stremio.{$BASE_DOMAIN}
	handle @stremio {
		reverse_proxy stremio:11470 {
			header_up Host localhost
			header_up Origin localhost
			header_up Referer localhost
		}
	}
}
