[Unit]
Description=Run Matter Server
PartOf=hass.container

[Container]
Image=matter-server.image
ContainerName=matter-server
Volume=/var/opt/hass/matter-server/data:/data
Network=host
PodmanArgs=--privileged

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=70
