[Unit]
Description=Tailscale Set Config
After=network-online.target tailscaled.service
Wants=network-online.target tailscaled.service

[Service]
Type=oneshot
ImportCredential=tailscale-authkey
ExecStart=/bin/sh -c 'tailscale set --advertise-exit-node --ssh'

[Install]
WantedBy=multi-user.target
