[Unit]
Requires=network-online.target

[Mount]
Type=rclone
What=paperless-backend:data
Where=/var/mnt/paperless/data
Options=rw,_netdev,allow_other,args2env,vfs-cache-mode=full,poll-interval=0,config=%d/rclone-podman.conf,cache-dir=%C/rclone-paperless
LoadCredential=rclone-podman.conf
