[Unit]
# This ceremony is needed because otherwise this won't be classified as a network filesystem.
DefaultDependencies=no
Requires=network-online.target
After=network-online.target remote-fs-pre.target
Before=remote-fs.target umount.target
Conflicts=umount.target

[Mount]
Type=rclone
What=paperless-backend:data
Where=/var/mnt/paperless/data
Options=rw,_netdev,allow_other,args2env,vfs-cache-mode=full,poll-interval=0,config=%d/rclone-podman.conf,cache-dir=%C/rclone-paperless
LoadCredential=rclone-podman.conf
